/* Estilos y cambios propios */

.btn-primary{
    background-color: #BB1F38 !important;
    border-color: #BB1F38 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #fff !important;
    color: #6C757D !important;
}

.btn-outline-secondary:hover {
    background-color: #BB1F38 !important;
}

.background-prueba{
    /* background-image: url(/img/header-1.jpg); */
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

footer{
    background-image: url(/img/footer.jpg);
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover !important;
}
